@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{

box-sizing: border-box;
}
body{
  font-family: "Poppins", sans-serif;
}
#root{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap:wrap;
  min-height: 100vh;
  margin: 0;
}
h3{
  margin: 10px 0;
}
h6{
  margin: 10px 0;
  text-transform: uppercase;
}
p{
  font-size: 14px;
  line-height: 21px;
  text-align: center;

}
.card-container{
  background-color: #033b48;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px #033b48;
  color: #fff;
  padding-top: 30px;
  width: 350px;
  text-align: center;
  position: relative;
}

.pro{
  color: cornsilk;
  background:crimson;
  padding: 3px 7px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  top: 30px;
  left: 30px;
}
.img{
  border: 3px solid #fff;
  border-radius: 50%;
  padding: 5px;
}
.online{
  background-color: greenyellow;
}
.offline{
  background-color: burlywood;
}

.buttons{
  display: flex;
  justify-content: center;
  gap: 20px;
}
button{
  cursor: pointer;
}
button.primary{
  background-color: blue;
  border: 1px solid blue;
  border-radius: 3px;
  color: #fff;
  font-weight: 500;
  padding: 10px 25px;
  font-family: "Poppins", sans-serif;
}
button.primary.outline{
  background-color: transparent;
}
.skills{
  background-color: #234231;
  text-align: left;
  padding: 15px;
  margin-top: 30px;
}

.skills ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.skills ul li{
  border: 1px solid #567675;
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  margin: 0 7px 7px 0;
}